[submodule "external/googletest"]
	path = deps/src/googletest
	url = https://github.com/google/googletest.git
[submodule "hlkvds"]
	path = deps/src/hlkvds
	url = https://github.com/Intel-bigdata/HLKVDS
