
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Update User" %}{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "horizon/common/_page_header.html" with title=_("Update User") %}

   <link href="{{ STATIC_URL }}dashboard/css/user.css" rel="stylesheet">
{% endblock page_header %}

{% block main %}
    {% csrf_token %}

<div id="divUserForm" >
  <div id="divWarningInfo" class="alert alert-warning" role="alert">
      <!-- some warning info -->
  </div>

      <form>
        <div class="left">
          <fieldset>
          {% include "horizon/common/_form_fields.html" %}
          </fieldset>
        </div>
        <div class="right">
          <h3>{% trans "Description" %}:</h3>
          <p>{% trans "From here you can edit the user's details." %}</p>
          <p>{% trans "Your Password Must contain at least one number, one uppercase character, one lowercase character and one special character (eg @#$%^&*.:;~\|[]{} )." %}</p>
        </div>
      </form>


      <div id="divFormOptions" class="hsm">
          <input id="lblUpdateUser" type="hidden" value="{{ user.username }}"/>
          <input id="lblLoginUser" type="hidden" value="{{ request.user.username }}"/>
          <input id="btnUpdateUser"  class="btn btn-primary" type="submit" value="{% trans 'Update User' %}" />
          <a id="btnCancel" class="btn btn-default" href="/hsm_ui/hsm/user/">{% trans 'Cancel' %}</a>
      </div>
</div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script src='{{ STATIC_URL }}dashboard/js/hsm.spin.js' type='text/javascript' charset='utf-8'></script>
    <script src="{{ STATIC_URL }}dashboard/js/user.js"></script> 
{% endblock %}

